.banner{
background:url(../images/pic1.jpg) no-repeat;
min-width: 600px;
min-height: 300px;
clear:both;
position:relative;
}

.banner p
{
    padding:10px;
    font-size:38px;
    color:yellow;
  
}

footer
{
    margin-top:10px;
    float: left;    
}

header{
overflow:hidden;
}
header h1{
float: left;
}


.box {
	width: 960px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}


nav{
margin: 10px;
float: right;
font-size:20px;
}

nav ul>li{
display:inline;
}

.cl{
background:url(../images/pic2.jpg) no-repeat;
height:301px;
}

.button{
background:black;
padding: 6px;
}

.button:hover{
color:white;
}

p{
font-size:13px;
line-height:20px;
font:arial;
color:#353535;
}

li{
margin-left:24px;
}
nav a{
text-transform:lowercase;
}
a {
	text-decoration:none;
	color:#7e7e7e;
}

a:hover, .selected{
color:black;
}

h1,h2{
letter-spacing:-1px;
}

h2{
font-size: 26px;
text-transform:lowercase;
}

body
{
    width:100%;
}

.banner h4{
color:white;
font-size:28px;
width:400px;
font-weight:normal;  
bottom: -10px;
left: 8px;
background:rgba(0,0,0,0.2);
padding:6px;

}